$M-auto : 0 auto;
$DM10 : -10px;
$DM40 : -40px;

$D0 : 0px;
$D1 : 1px;
$D2 : 2px;
$D3 : 3px;
$D4 : 4px;
$D5 : 5px;
$D6 : 6px;
$D7 : 7px;
$D8 : 8px;
$D9 : 9px;
$D10 : 10px;
$D11 : 11px;
$D12 : 12px;
$D13 : 13px;
$D14 : 14px;
$D15 : 15px;
$D16 : 16px;
$D17 : 17px;
$D18 : 18px;
$D19 : 19px;
$D20 : 20px;
$D21 : 21px;
$D22 : 22px;
$D23 : 23px;
$D24 : 24px;
$D25 : 25px;
$D26 : 26px;
$D27 : 27px;
$D28 : 28px;
$D29 : 29px;
$D30 : 30px;
$D31 : 31px;
$D32 : 32px;
$D33 : 33px;
$D34 : 34px;
$D35 : 35px;
$D36 : 36px;
$D37 : 37px;
$D38 : 38px;
$D39 : 39px;
$D40 : 40px;
$D41 : 41px;
$D42 : 42px;
$D43 : 43px;
$D44 : 44px;
$D45 : 45px;
$D46 : 46px;
$D47 : 47px;
$D48 : 48px;
$D49 : 49px;
$D50 : 50px;
$D51 : 51px;
$D52 : 52px;
$D53 : 53px;
$D54 : 54px;
$D55 : 55px;
$D56 : 56px;
$D57 : 57px;
$D58 : 58px;
$D59 : 59px;
$D60 : 60px;
$D61 : 61px;
$D62 : 62px;
$D63 : 63px;
$D64 : 64px;
$D65 : 65px;
$D66 : 66px;
$D67 : 67px;
$D68 : 68px;
$D69 : 69px;
$D70 : 70px;
$D71 : 71px;
$D72 : 72px;
$D73 : 73px;
$D74 : 74px;
$D75 : 75px;
$D76 : 76px;
$D77 : 77px;
$D78 : 78px;
$D79 : 79px;
$D80 : 80px;
$D81 : 81px;
$D82 : 82px;
$D83 : 83px;
$D84 : 84px;
$D85 : 85px;
$D86 : 86px;
$D87 : 87px;
$D88 : 88px;
$D89 : 89px;
$D90 : 90px;
$D91 : 91px;
$D92 : 92px;
$D93 : 93px;
$D94 : 94px;
$D95 : 95px;
$D96 : 96px;
$D97 : 97px;
$D98 : 98px;
$D99 : 99px;
$D100 : 100px;
$D200 : 200px;
